<!-- Footer
  ============================ -->
  <footer id="footer" class="section bg-light">
    <div class="container">
      <ul class="social-icons social-icons-lg social-icons-muted justify-content-center mb-3">
        <li><span class="text-2 ml-2">Aktualisiert: {{ config.build_time }}</span></li>
      </ul>
      <p class="text-center">Copyright &copy; 2019 - 2023 <a href="http://race-horology.com">Race Horology</a> | <a  href="https://race-horology.com/impressum/">Impressum</a></p>
    </div>
  </footer>
  <!-- Footer end -->